In [1]:
import numpy as np
import pandas as pd

In [18]:
census_raw = pd.read_csv('data/census_raw.csv')
census_raw = census_raw.rename(columns={'Label (Grouping)': 'State'})
census_raw = census_raw.set_index('State')
census_raw.head()

,Alabama!!Households!!Estimate,Alabama!!Households!!Margin of Error,Alabama!!Families!!Estimate,Alabama!!Families!!Margin of Error,Alabama!!Married-couple families!!Estimate,Alabama!!Married-couple families!!Margin of Error,Alabama!!Nonfamily households!!Estimate,Alabama!!Nonfamily households!!Margin of Error,Alaska!!Households!!Estimate,Alaska!!Households!!Margin of Error,...,Wyoming!!Nonfamily households!!Estimate,Wyoming!!Nonfamily households!!Margin of Error,Puerto Rico!!Households!!Estimate,Puerto Rico!!Households!!Margin of Error,Puerto Rico!!Families!!Estimate,Puerto Rico!!Families!!Margin of Error,Puerto Rico!!Married-couple families!!Estimate,Puerto Rico!!Married-couple families!!Margin of Error,Puerto Rico!!Nonfamily households!!Estimate,Puerto Rico!!Nonfamily households!!Margin of Error
State,,,,,,,,,,,,,,,,,,,,,
Total,"2,016,448","±11,475","1,308,988","±13,948","941,596","±14,004","707,460","±14,662","274,574","±3,261",...,"89,956","±4,423","1,289,311","±9,077","820,788","±12,139","449,853","±9,197","468,523","±9,435"
"Less than $10,000",7.6%,±0.3,4.4%,±0.4,1.7%,±0.2,14.3%,±0.8,4.4%,±0.7,...,9.6%,±1.7,22.4%,±0.6,16.7%,±0.8,7.7%,±0.7,35.1%,±1.2
"$10,000 to $14,999",5.2%,±0.3,3.0%,±0.3,1.1%,±0.2,9.8%,±0.6,2.5%,±0.4,...,6.9%,±1.4,10.8%,±0.5,8.9%,±0.6,7.4%,±0.7,14.9%,±0.9
"$15,000 to $24,999",9.3%,±0.3,6.0%,±0.4,3.4%,±0.3,15.9%,±0.7,5.4%,±0.8,...,13.3%,±1.9,18.2%,±0.6,18.1%,±0.8,16.0%,±0.9,19.8%,±0.9
"$25,000 to $34,999",8.6%,±0.5,6.9%,±0.5,4.9%,±0.4,12.5%,±0.8,5.3%,±0.6,...,12.7%,±1.8,12.5%,±0.5,13.6%,±0.7,13.4%,±0.9,10.6%,±0.8

In [65]:
transposed = census_raw.transpose()
transposed.head()

State,Total,"Less than $10,000","$10,000 to $14,999","$15,000 to $24,999","$25,000 to $34,999","$35,000 to $49,999","$50,000 to $74,999","$75,000 to $99,999","$100,000 to $149,999","$150,000 to $199,999","$200,000 or more",Median income (dollars),Mean income (dollars),PERCENT ALLOCATED,Household income in the past 12 months,Family income in the past 12 months,Nonfamily income in the past 12 months
Alabama!!Households!!Estimate,"2,016,448",7.6%,5.2%,9.3%,8.6%,12.0%,16.7%,12.6%,14.9%,6.4%,6.7%,"59,674","82,956",NaN,38.9%,(X),(X)
Alabama!!Households!!Margin of Error,"±11,475",±0.3,±0.3,±0.3,±0.5,±0.4,±0.5,±0.4,±0.5,±0.3,±0.3,±727,"±1,020",NaN,(X),(X),(X)
Alabama!!Families!!Estimate,"1,308,988",4.4%,3.0%,6.0%,6.9%,10.7%,17.3%,14.4%,19.4%,8.7%,9.2%,"77,668","100,785",NaN,(X),40.8%,(X)
Alabama!!Families!!Margin of Error,"±13,948",±0.4,±0.3,±0.4,±0.5,±0.5,±0.5,±0.5,±0.7,±0.4,±0.5,"±1,070","±1,464",NaN,(X),(X),(X)
Alabama!!Married-couple families!!Estimate,"941,596",1.7%,1.1%,3.4%,4.9%,8.4%,17.2%,16.5%,23.6%,11.2%,12.1%,"94,370","118,799",NaN,(X),(X),(X)

In [99]:
df = transposed[['Total','Median income (dollars)', 'Mean income (dollars)']] #dropped all columns we won't use
df.head()

State,Total,Median income (dollars),Mean income (dollars)
Alabama!!Households!!Estimate,"2,016,448","59,674","82,956"
Alabama!!Households!!Margin of Error,"±11,475",±727,"±1,020"
Alabama!!Families!!Estimate,"1,308,988","77,668","100,785"
Alabama!!Families!!Margin of Error,"±13,948","±1,070","±1,464"
Alabama!!Married-couple families!!Estimate,"941,596","94,370","118,799"

In [100]:
df = df[~df.index.str.contains('Margin of Error')] #removing margin of error category
df.index = df.index.str.replace('!!Estimate','') #this specifier no longer necessary
df = df.reset_index(names='State')
df.index.name = ''
df.head()

State,State,Total,Median income (dollars),Mean income (dollars)
,,,,
0,Alabama!!Households,"2,016,448","59,674","82,956"
1,Alabama!!Families,"1,308,988","77,668","100,785"
2,Alabama!!Married-couple families,"941,596","94,370","118,799"
3,Alabama!!Nonfamily households,"707,460","32,330","47,145"
4,Alaska!!Households,"274,574","88,121","109,524"

In [101]:
df[['State','Category']] = df['State'].str.split('!!', n=2, expand=True) #splitting state into state and category columns
df.columns.name = None
df.head()

,State,Total,Median income (dollars),Mean income (dollars),Category
,,,,,
0,Alabama,"2,016,448","59,674","82,956",Households
1,Alabama,"1,308,988","77,668","100,785",Families
2,Alabama,"941,596","94,370","118,799",Married-couple families
3,Alabama,"707,460","32,330","47,145",Nonfamily households
4,Alaska,"274,574","88,121","109,524",Households

In [103]:
col = df.pop('Category')
df.insert(1, col.name,col) #reordering column

In [104]:
df.to_csv('data/census_cleaned.csv', index=False)